# Local/private config goes in the include
[include]
        path = ~/.gitconfig.local
[hub]
	protocol = ssh
[alias]
    	hide = update-index --assume-unchanged
    	unhide = update-index --no-assume-unchanged
    	unhide-all = ! git ls-files -v | grep '^[a-z]' | cut -c3- | xargs git unhide --
    	hidden = ! git ls-files -v | grep '^[a-z]' | cut -c3-
        co = checkout
        promote = !$ZSH/bin/git-promote
        wtf     = !$ZSH/bin/git-wtf
        rank-contributors = !$ZSH/bin/git-rank-contributors
        count   = !git shortlog -sn
        b = branch
        wS = status -sb
        ws = status
        fr = pull --rebase
        fm = pull
        ia = add
        ir = restore --staged
        c = commit
        r = rebase
        ra = rebase --abort
        rc = rebase --continue
        ri = rebase --interactive
        t = tag
        d = describe
        rb = browse

[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = emacsclient -t -a \"\"
        # editor = nvim
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --features=interactive

[delta]
    features = interactive zebra-light
    side-by-side = true
    line-numbers = true
    syntax-theme = OneHalfDark
    navigate = true

[delta "interactive"]
    keep-plus-minus-markers = true

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[apply]
        whitespace = nowarn

[mergetool]
        keepBackup = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
	default = current
	followTags = true
[pull]
	rebase = false
[credential]
	helper = osxkeychain
[rerere]
	enabled = true
	autoupdate = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
        gpgsign = true
[user]
	signingkey = /Users/dragos/.ssh/id_ed25519.pub
